@media screen and (max-width: 500px) {
    @font-face {
        font-family: PK;
        src: url(PK-Nakhon-Sawan-Demo/PK\ Nakhon\ Sawan\ Demo.ttf);
    }
    body {
        font-family: PK;
        background: linear-gradient( 45deg, #ffa69e, #faf3dd, #b8f2e6, #aed9e0, #ffffff);
    }
    
    .profile-info input{
        border: 0px solid; 
        border-radius: 5px;
        padding: 10px;
        height: 20px;
        width: 90%;
        margin-left: 10px;
        /* padding-right: 215px; */
    }
    .profile1  h4{
        padding-top: 25px;
        padding-left: 15px;
    }
    .profile-details input{
        background-color: #feb603;
    }
    .profile-details {
        margin-top: 60px;
        padding-bottom: 10px;
    }
    .profile2  h4{
        margin-top: 40px;
        padding-left: 15px;
    }
    .profile3  h4{
        margin-top: 40px;
        padding-left: 15px;
    }
    .profile3 .rank{
        color: #6f6436;
        background-color: #feb603;
        border: 0px solid;    
        border-radius: 5px;
        padding: 13px;
        width: 0px;
        margin-left: 10px;
        padding-right: 365px;
    }
    .profile4  h4{
        margin-top: 40px;
        margin-left: 15px;
    }
    .profile4  input{
        width: calc(90% - 40px);
        /* padding-right: 165px; */
        border-radius: 5px 0px 0px 5px;
    }
    .profile-info{
        background-color: whitesmoke;
        border: 0px solid;
        border-radius: 25px;
        margin-top: 30px;
    }
    .terms{
        margin-top: 20px;
    }
    .button-btn{
        width: 40px;
        height: 40px;
        border: 0px solid;
        border-radius: 0px 5px 5px 0px;
        position: absolute;
        background-color: #cd6b02;
    }
    
    input:placeholder-shown {
        color: #000;
      }
    input:not(:placeholder-shown) {
    
        color: #000;
      }
    #closedialog-btn {
        display: block;
        border-style: solid;
        border-radius: 50px;
        width: 300px;
        margin: 20px auto;
        border: 1px solid #ccc;
        padding: 0.5em 1em;
        text-align: center;
        background-color: #cd6b02;
        color: white;
        font-size: 15px;
      }
    #popup-box {
        border: 1px solid #ccc;
        width: 325px;
        backdrop-filter: blur(2px);
      }
    #message {
        margin-top: 0px;
        padding: 10px;
        text-align: center;
      }
    .Theta {
        bottom: -20px;
        background-image: url("ProfileUser.png");
        border-radius: 50px;
        background-size: contain;
        width: 40px;
        height: 40px;
        background-color: slateblue;
        position: absolute;
        animation-name: move, spin;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes move {
        0% {
            background-color: slateblue;
            left: 0px;
        }
        25% {
            background-color: springgreen;
            left: 90px;
        }
        50% {
            background-color: khaki;
            left: 180px;
        }
        75% {
            background-color: salmon;
            left: 270px;
        }
        100% {
            background-color: slateblue;
            left: 360px;
        }
    }
    
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
/* PC SCREEN */
@media (min-width:501px) {
    @font-face {
        font-family: PK;
        src: url(/PK-Nakhon-Sawan-Demo/PK\ Nakhon\ Sawan\ Demo.ttf);
    }
    body {
        font-family: PK;
        background: linear-gradient( 45deg, #ffa69e, #faf3dd, #b8f2e6, #aed9e0, #ffffff);
    }
    .profile-info input{
        border: 0px solid; 
        border-radius: 5px;
        padding: 10px;
        height: 20px;
        width: 93%;
        margin-left: 10px;
        /* padding-right: 215px; */
    }
    .profile1  h4{
        padding-top: 25px;
        padding-left: 15px;
    }
    .profile-details input{
        background-color: #feb603;
    }
    .profile-details {
        padding-bottom: 10px;
    }
    .profile2  h4{
        margin-top: 40px;
        padding-left: 15px;
    }
    .profile3  h4{
        margin-top: 40px;
        padding-left: 15px;
    }
    .profile3 .rank{
        color: #6f6436;
        background-color: #feb603;
        border: 0px solid;    
        border-radius: 5px;
        padding: 13px;
        width: 0px;
        margin-left: 10px;
        padding-right: 365px;
    }
    .profile4  h4{
        margin-top: 40px;
        margin-left: 15px;
    }
    .profile4  input{
        width: calc(93% - 50px);
        /* padding-right: 165px; */
        border-radius: 5px 0px 0px 5px;
    }
    .profile-info{
        background-color: whitesmoke;
        border: 0px solid;
        border-radius: 25px;
        margin-top:2%;
    }
    .terms{
        padding: 0 0.5em;
        margin-top: 20px;
    }
    .button-btn{
        width: 50px;
        height: 40px;
        border: 0px solid;
        border-radius: 0px 5px 5px 0px;
        position: absolute;
        background-color: #cd6b02;
    }
    input:placeholder-shown {
        color: #000;
      }
    input:not(:placeholder-shown) {
    
        color: #000;
      }
    #closedialog-btn {
        display: block;
        border-style: solid;
        border-radius: 50px;
        width: 300px;
        margin: 20px auto;
        border: 1px solid #ccc;
        padding: 0.5em 1em;
        text-align: center;
        background-color: #cd6b02;
        color: white;
        font-size: 15px;
      }
    #popup-box {
        border: 1px solid #ccc;
        width: 325px;
        backdrop-filter: blur(2px);
      }
    #message {
        margin-top: 0px;
        padding: 10px;
        text-align: center;
      }
    .Theta {
        bottom: -20px;
        background-image: url("ProfileUser.png");
        border-radius: 50px;
        background-size: contain;
        width: 40px;
        height: 40px;
        background-color: slateblue;
        position: absolute;
        animation-name: move, spin;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes move {
        0% {
            background-color: slateblue;
            left: 0px;
        }
        25% {
            background-color: springgreen;
            left: 90px;
        }
        50% {
            background-color: khaki;
            left: 180px;
        }
        75% {
            background-color: salmon;
            left: 270px;
        }
        100% {
            background-color: slateblue;
            left: 360px;
        }
    }
    
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
header img{
    width: 200px;
    height: 200px;
    transform: rotate(-5deg);
}
#submit-btn{
    margin: 30px auto;
    display: block;
    width: 200px;
    height: 70px;
    background-color: #e38a2b;
    border: 0px solid;
    border-radius: 25px;
    font-size: 20px;
}
header{
    display: flex;
    text-align: center;
    margin-top: 5%;
    bottom: 5%;
    align-items: center;
   justify-content: center;
}
header h1{
    border-bottom-style: solid;
    border-bottom-width: 0px;
    margin-bottom: -20px;
}

    
